<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Attuned | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="/assets/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="/assets/plugins/summernote/summernote-bs4.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/assets/dist/img/fav.png" />
</head>

<body class="hold-transition sidebar-mini layout-fixed removePadding">
  <div class="wrapper">

    <!-- Navbar -->
    <%- include('./common/header.ejs') -%>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img src="/assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
          style="opacity: .8">
        <span class="brand-text font-weight-light">Attuned</span>
      </a>

      <!-- Sidebar -->

      <%- include('./common/sidebar.ejs') -%>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper questionWrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Lesson's List</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="dashboard.ejs">Home</a></li>
                <li class="breadcrumb-item active">Users</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
      <style>
        div#example1_length {
          margin-bottom: 10px;
        }
      </style>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="card">

            <!-- /.card-header -->
            <div class="card-header removeBorder">
              <div class="btnWrapper">
                <button type="button" id="addLessonBtn">Add Lessons</button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="example1_length">
                      <label>Go To Page:</label>
                      <select name="example1_length" id="cm-pagination-select"
                        class="custom-select custom-select-sm form-control form-control-sm">
                        <option value="1" selected>1</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search"
                          class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                      aria-describedby="example1_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                            style="width: 270px;">
                            Lesson Name
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Browser: activate to sort column ascending" style="width: 342px;">
                            Lesson Content
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            aria-label="Platform(s): activate to sort column ascending" style="width: 305px;">
                            Action
                          </th>
                      </thead>
                      <tbody>
                        <% for(var i=0; i < data.lesson.length; i++) { %>
                        <tr role="row">
                          <td class="lessonName" data-id="<%= data.lesson[i]._id %>"><%= data.lesson[i].name %></td>
                          <td><a data-href="/admin/getLessonDetails/<%=data.lesson[i]._id %>" href="javascript:;"
                              data-id="<%= data.lesson[i]._id %>" class="view-lesson-btn">View Lesson Content</a></td>
                          <td><a href="/admin/disableLessons/<%= data.lesson[i]._id %>"
                              class="nav-link delete-lesson-link">
                              <i class="nav-icon fas fa-trash"></i></a>
                            <!-- <a href="#addHomeWork" class="addHomeWork" data-detail="/admin/getLessonDetails/<%=data.lesson[i]._id %>">Add Homeworks</a> -->
                            <a href="#editHomeWork" class="editHomeWork"
                              data-detail="/admin/getLessonDetails/<%=data.lesson[i]._id %>">Edit Homework</a>
                          </td>
                        </tr>
                        <% } %>
                      </tbody>


                  </div>
                </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <div class="popupContent lessonForm">
      <%- include('./addEditLesson.ejs') -%>
    </div>

    <div class="popupContent homeworkForm">
      <%- include('./addEditHomework.ejs') -%>
    </div>

    <div class="add-lesson-modal">
      <span class="cm-close-icon"><i class="fa fa-times"></i></span>
      <form id="save_lesson_form">
        <div class="add-lesson-modal-inner">

          <div class="lesson-title">
            <h2 id="new_lesson_name"><span role="add">Add Lesson</span><span role="edit">Edit Lesson</span></h2>
            <input type="text" value="" placeholder="Lesson Name" required id="new_lesson_name_input">
            <span id="addHomeWork">Homework<i class="fas fa-plus-circle"></i></span>
            <div class="input-item duration-item lesson-duration">
              <label>Duration</label>
              <input type="number" class="min-duration" min="0" max="999999" placeholder="Mins" required />
              <span class="sep">:</span>
              <input type="number" pattern="/^-?\d+\.?\d*$/" onkeypress="if(this.value.length==2) return false;" class="second-duration" min="0" max="59" placeholder="Sec" required />
            </div>
          </div>
          <div class="lesson-tasks-listing">
            <div class="lesson-tasks-item">

              <div class="input-items">
                <div class="input-item">
                  <input type="text" class="task_name_input" value="Task" placeholder="Task Name" />
                </div>
                <div class="input-item">
                  <div class="radio-groups">
                    <div class="radio-item check-text">
                      <input type="radio" id="txt1" name="type" value="text" checked class="active" />
                      <label for="txt1">Text</label>
                    </div>
                    <div class="radio-item check-video">
                      <input type="radio" id="vid1" name="type" value="video" />
                      <label for="vid1">Video</label>
                    </div>
                  </div>
                </div>
                <div class="videoField input-item hide">
                  <!-- <label>Upload Video</label> -->
                  <input type="file" accept="video/mp4,video/x-m4v,video/*" class="selectVideo" style="max-width:100%">
                  <span class="videoFileOnServer" style="display: none"></span>

                </div>
                <div class="textField show input-item">
                  <label>Text</label>
                  <textarea class="textarea_input" required></textarea>
                </div>


              </div>

              <a class="remove-task-btn" href="#">Remove <i class="fas fa-minus-circle"></i></a>
            </div>

          </div>
          <a href="#" class="add_new_lesson_task">Add Task<i class="fas fa-plus-circle"></i></a>
          <br>
          <button id="save_lesson" type="submit">Save</button>

        </div>
      </form>
    </div>


    <div class="add-homework-modal" style="display: none;">
      <span class="cm-homework-close-icon"><i class="fa fa-times"></i></span>
      <form id="save_homework_form" action="">
        <div class="add-homework-modal-inner">

          <h2 id="cm_lesson_title">Lesson Unknown</h2>
          <h3 id="add_edit_title"><span role="add">Add Homework</span><span role="edit">Edit Homework</span></h3>
          <div class="input-item duration-item total-homework-duration">
            <label>Duration</label>
            <input type="number" class="min-duration" min="0" max="999999" placeholder="Mins" required />
            <span class="sep">:</span>
            <input type="number" class="second-duration" min="0" max="59" placeholder="Sec" required />
          </div>
          <div class="cm-exercise-listing">
            <div class="cm-exercise-item">
              <div class="top-wrapper">
                <input class="exercise-title" value="Exercise 1" required>
                <div class="input-item duration-item exercise-duration">
                  <label>Duration</label>
                  <input type="number" class="min-duration" min="0" max="999999" placeholder="Mins" required />
                  <span class="sep">:</span>
                  <input pattern="/^-?\d+\.?\d*$/" onkeypress="if(this.value.length==2) return false;" type="number" class="second-duration" min="0" max="59" placeholder="Sec" required />
                </div>
              </div>
              <div class="homework-tasks-listing">

                <div class="homework-tasks-item">

                  <div class="input-items">
                    <div class="homework-input-item">
                      <input type="text" class="homework_name_input" value="Task 1" placeholder="Task Name" />
                    </div>
                    <div class="input-item">
                      <div class="homework-radio-groups">
                        <div class="radio-item check-text">
                          <input type="radio" id="homework_excercise_1_txt_1" name="homework_type_1" value="text"
                            checked class="active" />
                          <label for="homework_excercise_1_txt_1">Text</label>
                        </div>
                        <div class="radio-item check-video">
                          <input type="radio" id="homework_excercise_1_vid_1" name="homework_type_1" value="video" />
                          <label for="homework_excercise_1_vid_1">Video</label>
                        </div>
                      </div>
                    </div>

                    <div class="videoField input-item hide">
                      <label>Upload Video</label>
                      <input type="file" accept="video/mp4,video/x-m4v,video/*" class="selectVideo">
                      <span class="videoFileOnServer" style="display: none"></span>
                    </div>

                    <div class="textField show input-item">
                      <label>Text</label>
                      <textarea class="textarea_input" required></textarea>
                    </div>

                  </div>

                  <a class="remove_exercise_task" href="#">Remove Task<i class="fas fa-minus-circle"></i></a>
                </div>
              </div>
              <a href="#" class="add_new_exercise_task">Add Task<i class="fas fa-plus-circle"></i></a>
              <a class="remove_exercise_btn" href="#">Remove Exercise<i class="fas fa-minus-circle"></i></a>
            </div>

          </div>
          <a href="#" class="add_new_exercise">Add Exercise<i class="fas fa-plus-circle"></i></a>
          <br>
          <button id="save_homework" type="submit">Save</button>
        </div>
      </form>
    </div>


    <div class="view-lesson-modal" style="display: none;">
      <span class="cm-view-lesson-close-icon"><i class="fa fa-times"></i></span>
      <div class="cm-view-lesson-modal-inner">
        <h1 id="lessonName"></h1>
        <p class="view_lesson_duration">Duration:<span class="view_lesson_duration_val"></span></p>
        <span id="edit-lesson">Edit<i class="fa fa-edit"></i></span>
        <div class="view-lesson-content">
          <div class="view-task-listing-wrapper">
            <div class="view-task-listing">
              <div class="view-task-item">
                <h3 class="cm-task-name"></h3>
                <p>Type:<span class="view-content-type"></span></p>
                <!-- <p>duration:<span class="view-duration"></span></p> -->
                <p>Video Url/Content:<span class="view-content-video"></span></p>
              </div>
            </div>
          </div>
          <div class="view-exercise-listing-wrapper">
            <div class="view-exercise-listing">
              <div class="view-exercise-item">
                <h3 class="cm-exercise-name"></h3>
                <p class="view_lesson_exercise_duration">Duration:<span
                    class="view_lesson_exercise_duration_val"></span></p>
                <div class="view-exercise-task-listing">
                  <div class="view-exercise-task-item">
                    <h3 class="cm-exercise-task-name"></h3>
                    <p>Type: <span class="view-content-type"></span></p>
                    <!-- <p>duration:<span class="view-duration"></span></p> -->
                    <p>Video Url/Content:<span class="view-content-video"></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- /.content-wrapper -->
    <!-- <%- include('./common/footer.ejs') -%> -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="/assets/plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- ChartJS -->
  <script src="/assets/plugins/chart.js/Chart.min.js"></script>
  <!-- Sparkline -->
  <script src="/assets/plugins/sparklines/sparkline.js"></script>
  <!-- JQVMap -->
  <script src="/assets/plugins/jqvmap/jquery.vmap.min.js"></script>
  <script src="/assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
  <!-- jQuery Knob Chart -->
  <script src="/assets/plugins/jquery-knob/jquery.knob.min.js"></script>
  <!-- daterangepicker -->
  <script src="/assets/plugins/moment/moment.min.js"></script>
  <script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="/assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Summernote -->
  <script src="/assets/plugins/summernote/summernote-bs4.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="/assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/assets/dist/js/adminlte.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="/assets/dist/js/pages/dashboard.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/assets/dist/js/demo.js"></script>
  <script src="./custom.js"></script>
</body>

</html>


<script>
  $(document).ready(function () {
    $('#addLessonBtn').on('click', function () {
      //$('.popupContent.lessonForm').addClass('showPopUp');
      //$('body').addClass('popupOpen');
    })
    $('#addHomeWork').on('click', function () {
      //$('.popupContent.homeworkForm').addClass('showPopUp');
      //$('body').addClass('popupOpen');
    })
    $('.popupOverlay, .closePopUp').on('click', function () {
      //$('.popupContent').removeClass('showPopUp');
      //$('body').removeClass('popupOpen');
    })
    $('.addDelQues .icons .add').on('click', function () {
      $('.clone .optionWrapper').clone(true).appendTo('.multipleOptions');
    })

    $('.optionType').on('change', function () {
      var value = $(this).val();
      if (value == 'text') {
        $(this).parents('.optionWrapper').find('.videoField').removeClass('show').addClass('hide');
        $(this).parents('.optionWrapper').find('.textField').removeClass('hide').addClass('show');
      }
      else {
        $(this).parents('.optionWrapper').find('.videoField').removeClass('hide').addClass('show');
        $(this).parents('.optionWrapper').find('.textField').removeClass('show').addClass('hide');
      }
    })

    $('.addDelQues .del').on('click', function (e) {
      $(this).closest(".optionWrapper").remove();
    })



  })

</script>