<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Attuned | Dashboard</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Tempusdominus Bbootstrap 4 -->
	<link rel="stylesheet" href="/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
	<!-- iCheck -->
	<link rel="stylesheet" href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<!-- JQVMap -->
	<link rel="stylesheet" href="/assets/plugins/jqvmap/jqvmap.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/assets/dist/css/adminlte.min.css">
	<!-- overlayScrollbars -->
	<link rel="stylesheet" href="/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
	<!-- Daterange picker -->
	<link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css">
	<!-- summernote -->
	<link rel="stylesheet" href="/assets/plugins/summernote/summernote-bs4.css">
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="hold-transition sidebar-mini layout-fixed removePadding">
	<div class="wrapper">

		<!-- Navbar -->
		<%- include('./common/header.ejs') -%>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a href="index3.html" class="brand-link">
				<img src="/assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
					class="brand-image img-circle elevation-3" style="opacity: .8">
				<span class="brand-text font-weight-light">Attuned</span>
			</a>

			<!-- Sidebar -->

			<%- include('./common/sidebar.ejs') -%>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper questionWrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Questionnaires</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="dashboard.ejs">Home</a></li>
								<li class="breadcrumb-item active">Users</li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Small boxes (Stat box) -->
					<div class="card">

						<!-- /.card-header -->
						<div class="card-header removeBorder">
							<div class="btnWrapper">
								<button type="button" id="addQueBtn">Add Questions</button>

							</div>
						</div>
						<div class="card-body">
							<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
								<div class="row">
									<div class="col-sm-12 col-md-6">
										<div style="display:none;" class="dataTables_length" id="example1_length">
											<label>Show <select name="example1_length" aria-controls="example1"
													class="custom-select custom-select-sm form-control form-control-sm">
													<option value="10">10</option>
													<option value="25">25</option>
													<option value="50">50</option>
													<option value="100">100</option>
												</select> entries</label></div>
									</div>
									<div class="col-sm-12 col-md-6">
										<div id="example1_filter" class="dataTables_filter"><label>Search:<input
													type="search" class="form-control form-control-sm" placeholder=""
													aria-controls="example1"></label></div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table id="example1" class="table table-bordered table-striped dataTable"
											role="grid" aria-describedby="example1_info">
											<thead>
												<tr role="row">
													<th class="sorting_asc" tabindex="0" aria-controls="example1"
														rowspan="1" colspan="1" aria-sort="ascending"
														aria-label="Rendering engine: activate to sort column descending"
														style="width: 270px;">
														Questions
													</th>
													<th class="sorting" tabindex="0" aria-controls="example1"
														rowspan="1" colspan="1"
														aria-label="Browser: activate to sort column ascending"
														style="width: 342px;">
														Question Options
													</th>
													<th class="sorting" tabindex="0" aria-controls="example1"
														rowspan="1" colspan="1"
														aria-label="Platform(s): activate to sort column ascending"
														style="width: 305px;">
														Action
													</th>
											</thead>
											<tbody>
												<% for(var i=0; i < data.questions.length; i++) { %>
												<tr role="row" data-id="<%= data.questions[i]._id %>">
													<td><%= data.questions[i].question %></td>
													<td><a href="/admin/getQuestionnaireById/<%= data.questions[i]._id %>"
															class="view-ques-btn">View Details</a></td>
													<td><a href="/admin/deleteQuestions/<%= data.questions[i]._id %>"
															class="nav-link delete-question-link">
															<i class="nav-icon fas fa-trash"></i></a></td>
												</tr>
												<% } %>
											</tbody>


									</div>
								</div><!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<div class="popupContent">
			<%- include('./addEditQues.ejs') -%>
		</div>


		<div class="question-modal" style="display:none;">
			<span class="close-ques-modal"><i class="fa fa-times"></i></span>
			<div class="question-modal-inner">
				<div class="question-modal-content">
					<h2 id="cm-que-title"></h2>
					<span id="edit_que_btn">Edit<i class="fa fa-edit"></i></span>
					<div class="attr-list">
						<div class="attr-item">Type:<span id="questionType"></span></div>

						<!-- <div class="attr-item">Screen:<span id="screen"></span></div> -->

						<div class="attr-item">Order:<span id="questionOrder"></span></div>

						<div class="attr-item">Max Allowed Answers:<span id="maxAllowedAnswers"></span></div>
					</div>
					<div class="cm-que-options-wrapper">
						<h3>Options</h3>
						<div class="cm-que-option-listing">
							<div class="cm-que-option-item">
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>




		<!-- /.content-wrapper -->
		<!-- <%- include('./common/footer.ejs') -%> -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<!-- jQuery -->
	<script src="/assets/plugins/jquery/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge('uibutton', $.ui.button)
	</script>
	<!-- Bootstrap 4 -->
	<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- ChartJS -->
	<script src="/assets/plugins/chart.js/Chart.min.js"></script>
	<!-- Sparkline -->
	<script src="/assets/plugins/sparklines/sparkline.js"></script>
	<!-- JQVMap -->
	<script src="/assets/plugins/jqvmap/jquery.vmap.min.js"></script>
	<script src="/assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
	<!-- jQuery Knob Chart -->
	<script src="/assets/plugins/jquery-knob/jquery.knob.min.js"></script>
	<!-- daterangepicker -->
	<script src="/assets/plugins/moment/moment.min.js"></script>
	<script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script src="/assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
	<!-- Summernote -->
	<script src="/assets/plugins/summernote/summernote-bs4.min.js"></script>
	<!-- overlayScrollbars -->
	<script src="/assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/assets/dist/js/adminlte.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="/assets/dist/js/pages/dashboard.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="/assets/dist/js/demo.js"></script>
	<script src="../custom.js"></script>
</body>

</html>


<script>
	$(document).ready(function () {
		$('#addQueBtn').on('click', function () {
			$('.popupContent').addClass('showPopUp');
			$('body').addClass('popupOpen');
			document.getElementById('addQuestionForm').reset()
			$('.fieldWrapper.multipleOptions .optionWrapper + .optionWrapper').remove();

		})
		$('.popupOverlay, .closePopUp').on('click', function () {
			$('.popupContent').removeClass('showPopUp');
			$('body').removeClass('popupOpen');
		})
		$('.addDelQues .icons .add').on('click', function () {
			var len = $(".hideOptionFields  .multipleOptions .optionWrapper").length + 1;
			$('.clone .optionWrapper').clone(true).appendTo('.multipleOptions').attr({
				id: 'option' + len,
				name: 'option' + len,
			});
		})

		$('.optionType').on('change', function () {
			var value = $(this).val();
			if (value == 'slider') {
				$('.hideTextFields').addClass('showOtherFields');
				$('.hideOptionFields').removeClass('showOtionsFields');
			}
			else if (value == 'mcq' || value == 'radio') {
				$('.hideTextFields').removeClass('showOtherFields');
				$('.hideOptionFields').addClass('showOtionsFields');
			}
			else {
				$('.hideTextFields').removeClass('showOtherFields');
				$('.hideOptionFields').removeClass('showOtionsFields');
			}
		})

		$('.addDelQues .del').on('click', function (e) {
			$(this).closest(".optionWrapper").remove();
		})

		$(document).on('submit', 'form#addQuestionForm', function (e) {
			e.preventDefault();
			const form = document.getElementById('addQuestionForm');
			let questionData = {
				question: form.ques.value,
				questionOrder: form.quesOrder.value,
				questionType: form.quesType.value,
				maxAllowedAnswers: form.maxAns.value,
				maxCharacter: form.maxChar.value,
				screen: form.screen.value
			};
			var typeVal = form.quesType.value
			if (typeVal == 'slider') {
				questionData['minimumValue'] = form.minValue.value;
				questionData['maximumValue'] = form.maxValue.value;
				questionData['midValue'] = form.midValue.value;
			}


			if (typeVal == 'mcq' || typeVal == 'radio') {
				var quesOptions = [];
				$('.fieldWrapper.multipleOptions .optionWrapper').each(function (i) {
					var fieldVal = {
						value: $(this).find('input[name="value"]').val(),
						optionImg: $(this).find('.uploadImage').attr('value'),
						optionDesc: $(this).find('textarea').val()
					}
					quesOptions.push(fieldVal);
					// console.log('na', $(this).find('input[name="value"]').val(), 'img', $(this).find('.uploadImage').attr('value'), 'des', $(this).find('textarea').val())
				})
				questionData['questionOptions'] = quesOptions;
			}
			let data = { questionData };

			// $.post("https://cornellapp.mobikasa.net/admin/saveQuestionnaire",data,
			// function(data, status){
			//   console.log("Data: " + data + "\nStatus: " + status);
			// });
			if (window.editMode) {
				questionData['id'] = window.quesID;
				data = { questionData };
			}
			$.ajax({
				type: "POST",
				url: "https://cornellapp.mobikasa.net/admin/saveQuestionnaire",
				data: data,
				success: function (response) {
					//var res = response;
					//console.log('ress', res)
					//alert( "Data Saved: " +  res.message);
					$('.submitMsg').text(response.message);
					$('.submitMsg').addClass('success').removeClass('error');
					window.editMode = false;
					location.reload();
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					var error = JSON.parse(XMLHttpRequest.responseText);
					console.log(error);
					$('.submitMsg').text(error.message);
					$('.submitMsg').addClass('error').removeClass('success');
				}
			});
		})

		$('.uploadImage').on('change', function (e) {
			var element = $(this);
			if ($(this).prop('files').length > 0) {
				var file = $(this).prop('files')[0];

				var form = new FormData();
				form.append("image", file);

				var settings = {
					url: "https://cornellapp.mobikasa.net/admin/upload",
					type: "post",
					dataType: "text",
					cache: false,
					processData: false,
					contentType: false,
					mimeType: "multipart/form-data",
					data: form
				}

				$.ajax(settings).done(function (response) {
					var res = JSON.parse(response);
					console.log(res.data.url);
					element.attr('value', res.data.url);
				});
			}
		})


	})

</script>