<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Attuned | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="/assets/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="/assets/plugins/summernote/summernote-bs4.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/assets/dist/img/fav.png" />
</head>

<body class="hold-transition sidebar-mini layout-fixed removePadding">
  <span class="user-rec-close"><i class="fa fa-times"></i></span>
  <div class="wrapper">

    <!-- Navbar -->
    <%- include('./common/header.ejs') -%>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
 

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">User's Recording List</h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
      <style>
        div#example1_length {
          margin-bottom: 10px;
        }
      </style>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="card">

            <!-- /.card-header -->
            <!-- <div class="card-header removeBorder">
              <div class="btnWrapper">
                <button type="button" id="addLessonBtn">Add Lessons</button>
              </div>
            </div> -->
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <!-- <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="example1_length">
                      <label>Go To Page:</label>
                      <select name="example1_length" id="cm-pagination-select"
                        class="custom-select custom-select-sm form-control form-control-sm">
                        <option value="1" selected>1</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search"
                          class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                      aria-describedby="example1_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 270px;">
                            Recording Name
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 342px;">
                            Average Frequency
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="User Recording" style="width: 342px;">
                            Min Frequency
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 305px;">
                            Max Frequency
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 305px;">
                            Recording Url
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 305px;">
                            Duration
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 305px;">
                            Recording Task
                          </th>
                      </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i < data.length; i++) { %>
                        <tr role="row">
                          <td class="name" data-id="<%= data[i].userRecordingName %>"><%= data[i].userRecordingName %></td>
                          <td  class="avg"  data-id="<%= data[i].avgFrequency %>"><%= data[i].avgFrequency %></td>
                          <td clas="minfeq"  data-id="<%= data[i].minFrequency %>"><%= data[i].minFrequency %></td>
                          <td clas="maxfeq"  data-id="<%= data[i].maxFrequency %>"><%= data[i].maxFrequency %></td>
                          <td clas="recurl"  data-id="<%= data[i].recordingUrl %>"><%= data[i].recordingUrl %></td>
                          <td clas="recurl"  data-id="<%= data[i].duration %>"><%= data[i].duration %></td>
                          <td class="recname"  data-id="<%= data[i].recordingContentName %>"><a href="#"><%= data[i].recordingContentName %></a></td>
                          <td class="rec-content"><%= data[i].recordingContent %></td>
                        </tr>
                        <% } %>
                      </tbody>
   
                      
                  </div>
                </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
  
 
    <div class="usercontent-popup">
      <div class="inner">
        <span class="close-modal"><i class="fa fa-times"></i></span>
        <div class="content">

        </div>
      </div>
    </div>



    <!-- /.content-wrapper -->
    <!-- <%- include('./common/footer.ejs') -%> -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="/assets/plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- ChartJS -->
  <script src="/assets/plugins/chart.js/Chart.min.js"></script>
  <!-- Sparkline -->
  <script src="/assets/plugins/sparklines/sparkline.js"></script>
  <!-- JQVMap -->
  <script src="/assets/plugins/jqvmap/jquery.vmap.min.js"></script>
  <script src="/assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
  <!-- jQuery Knob Chart -->
  <script src="/assets/plugins/jquery-knob/jquery.knob.min.js"></script>
  <!-- daterangepicker -->
  <script src="/assets/plugins/moment/moment.min.js"></script>
  <script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="/assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Summernote -->
  <script src="/assets/plugins/summernote/summernote-bs4.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="/assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/assets/dist/js/adminlte.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="/assets/dist/js/pages/dashboard.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/assets/dist/js/demo.js"></script>
  <script src="./custom.js"></script>
</body>

</html>

<style>
  .content-wrapper{
    width: 100%;
    margin-left: 0 !important;
  }
  td.rec-content {
    display: none;
}
  .main-header {
    display: none;
}
td.recname a {
    background-color: #007bff;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
}

td.recname {
    text-align: center;
}
.usercontent-popup{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
}
.usercontent-popup .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    padding: 30px;
    background: #fff;
    transform: translate(-50%, -50%);
    min-height: 200px;
}
.usercontent-popup .close-modal{
  position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    background: #ddd;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.usercontent-popup .content{
  padding-top: 36px;
}
span.user-rec-close {
    height: 30px;
    width: 30px;
    right: 20px;
    top: 20px;
    background: #ddd;
    line-height: 30px;
    text-align: center;
    position: absolute;
    cursor: pointer;
}
</style>
<script>
  $(document).ready(function () {
    $('#addLessonBtn').on('click', function () {
      //$('.popupContent.lessonForm').addClass('showPopUp');
      //$('body').addClass('popupOpen');
    })
    $('#addHomeWork').on('click', function () {
      //$('.popupContent.homeworkForm').addClass('showPopUp');
      //$('body').addClass('popupOpen');
    })
    $('.popupOverlay, .closePopUp').on('click', function () {
      //$('.popupContent').removeClass('showPopUp');
      //$('body').removeClass('popupOpen');
    })
    $('.addDelQues .icons .add').on('click', function () {
      $('.clone .optionWrapper').clone(true).appendTo('.multipleOptions');
    })

    $('.optionType').on('change', function () {
      var value = $(this).val();
      if (value == 'text') {
        $(this).parents('.optionWrapper').find('.videoField').removeClass('show').addClass('hide');
        $(this).parents('.optionWrapper').find('.textField').removeClass('hide').addClass('show');
      }
      else {
        $(this).parents('.optionWrapper').find('.videoField').removeClass('hide').addClass('show');
        $(this).parents('.optionWrapper').find('.textField').removeClass('show').addClass('hide');
      }
    })

    $('.addDelQues .del').on('click', function (e) {
      $(this).closest(".optionWrapper").remove();
    })



  })

</script>